<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://kit.fontawesome.com/b3478a18b6.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body class="container">

<div class="position-sticky top-0 mt-3">
    <div class="z-3 position-absolute w-100">
        {{ include('flush-message.html.twig') }}
    </div>
</div>

{% block body %}{% endblock %}
</body>
</html>
